<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ./header.ejs %>
    </head>

    <body>
        <div style="display: flex; align-items: center; flex-direction: column; padding-top: 10px;">
            <a class="btn btn-secondary" href="/add-product">Add Product</a>

            <% for (bookData of booksData) {%>
                <div style="width: 50%; margin-bottom: 30px;">
                    <p><b>Title:</b> <%= bookData.title %></p>
                    <p><b>Author:</b> <%= bookData.author %></p>
                    <p><b>Price:</b> $<%= bookData.price %></p>
                    
                    <% if (bookData.description != "") { %>
                        <p><b>Description:</b> <%= bookData.description %></p>
                    <% } %>
                    <form action="/delete-product" method="POST">
                        <input type="text" name="productId" value="<%= bookData.id %>" style="display: none;">
                        <input type="submit" value="Delete Product" class="btn btn-secondary">
                    </form>
                </div>
            <% } %>
        </div>
    </body>
</html>